@primary_color: #fc6320;
@secondary_color: #fc401a;
@background_color_body_0: #fff;
@background_color_body_50: #fff;
@background_color_body_73: #fff;
@background_color_body_100: #fff;
@background_color_widget: rgb(66, 59, 59);
