@primary_color: #8d959c;
@secondary_color: #405d63;
@background_color_body_0: #fff;
@background_color_body_50: #fff;
@background_color_body_73: #fff;
@background_color_body_100: #fff;
@background_color_widget: rgb(66, 59, 59);
