@import "colors";

body {
    background: #ada996; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainContainer{
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
    // font-size: 16px;
}

.midContainer {
    width: 100%;
    padding: 2%;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 60px;
    z-index: 100 !important;
    overflow-y: scroll;
}

#header {
    color: @secondary_color;

    a {
        color: @secondary_color !important;
    }

    a:hover {
        color: @primary_color !important;
    }
}

#headerSocialLinks {
    z-index: 110;
    text-align: right;
    > a, > span {
        margin: 0 5px;
    }
}

#headerLinks {
    font-size: 0.9em;
    font-weight: 400;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 32px;
    height: 30px;
    text-align: center;
    letter-spacing: 1px;

    .activeImageHeader {
        position: relative;
    }

    a {
        margin: 0px 10px;
    }
}

#scidash-logo {
    background-image: url('../assets/scidash_mini_logo.png');
    background-size: 100% 100%;
    height: 56px;
    width: 56px;
    position: fixed;
    top: 15px;
    left: 60px;
}

#footer-scidash {
    color: @secondary_color;
    font-weight: 500;
    clear: both;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 10;
    height: 60px;
    margin-top: -60px;
    font-size: 0.75em;

    #footerLinks {
        border-bottom: 1px solid;
        border-top: 1px solid;
        padding: 4px;
        text-align: center;

        a {
            color: @secondary_color;
            margin: 0px 10px;
        }

        a:hover {
            color: @primary_color;
        }
    }
    #footerDate {
        margin-top: 8px;
        text-align: center;
    }
}

#hamMenu {
  overflow: hidden!important;
  margin-top: 20px!important;
  margin-left: 10px!important;
  border-radius: 25px!important; 
  > svg {
    color: #757575!important; 
    margin-top: -4px!important; 
    margin-left: -4px!important;
  };
  &:hover {
    background-color: #BDBDBD!important;
  }
}

.chips {
  display: flex;
}

input:focus {
  outline: none!important; 
  border: none!important;
  box-shadow: none!important;
}
input {
  outline: none!important; 
  border: none!important;
  box-shadow: none!important;
}
.edit-clone-test {
  float: right;
  > button {
    height: 14px !important;
  }
}

.scidash-table {
    color: @secondary_color;
    .scidash-table-heading-cell{
        vertical-align:top;
        text-align: left;
    }
    .filter-label {
        padding: 0px 10px;
        font-weight: normal;
        float:left;
    }
    tbody {
        font-size: 13px;
    }
    .griddle-cell {
        border-top:1px solid #aaa;
    }
}

.scidash-tilted-titles-table{
    color: @secondary_color;
    vertical-align:top;
    text-align: left;
    .scidash-tilted-titles-table-heading-cell{
        height:30px;
        max-height: 30px;
        max-width: 50px;
        vertical-align: bottom;
        white-space: nowrap;
    }
    .filter-label {
        padding: 0px 10px;
        font-weight: normal;
        float:left;
    }
    tbody {
        font-size: 13px;
    }
    th{
        vertical-align:top;
    }
    .griddle-cell {
        border-top:1px solid #aaa;
    }
}

.scidash-tilted-titles-table-heading-cell-div{
    vertical-align: top;
    text-align: left;
    max-width: 220px;
    height: 20px;
    max-height: 150px;
    width: 225px;
    transform: translate(-25px, -70px) rotate(315deg);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.last-heading{
    transform: translate(-20px, -55px) rotate(315deg);
    width: 175px;
    max-width: 200px;
}

.hideAll-column {
    /* Adjustments to column with hide all buttons*/
    th:last-child{
        padding-left : 5px;
    }
}

#showAllButton{
    height: 27px !important;
}

.modelName-row-heading{
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
    font-size : 14px;
    font-family : Roboto, sans-serif;
}

.scidash-materialui-field {
    float:right;
    div{
        display:none;
    }
    input {
        box-shadow: none;
    }
}

.datepicker-wrapper {
    display:flex;
    justify-content: center;
}

.griddle-cell {
    position:relative;
}

.griddle-pagination {
    text-align: center;
}

#colorMapGradientLabel {
    width: 100%;
    height: 10px;
}

.colorBlindGradient {
    background: linear-gradient(to right, yellow, blue);
}

.defaultGradient {
    background: linear-gradient(to right, red , green);
}

#controlsContainer {
    width: 100%;
    text-align: left;
}

/* Input fields adjustments */
.scidash-materialui-field {
    font-size: 13px !important;
    font-weight: normal !important;
    padding-left: 3px !important;
}

// /* Autosuggest adjustments */     IT REPLACES THE COMMENTED LINES BELOW
.autosuggest span{
  font-size: 13px !important;
  min-height: 30px !important;
  line-height: 30px !important;

  div div {
      padding: 0px 5px 0px 5px !important;
  }
}
// /* Autosuggest adjustments */
// span[role=menuitem]{
//     font-size: 13px !important;
//     min-height: 30px !important;
//     line-height: 30px !important;

//     div div {
//         padding: 0px 5px 0px 5px !important;
//     }
// }

div[role=menu]{
    padding: 0px !important;
}

.suites-table{
    width: 90%;
    margin:10 auto;
}

.modal-table{
    width: auto;
    margin:0 auto;
}

.modal-table th {
  height: 140px;
  white-space: nowrap;
  padding: 5px 10px;
}

.modal-table thead > tr {
    height : 165px;
}

.modal-table th > div > span {
    padding: 5px 10px;
}

.rotatedTitle {
    width : 200px;
    height : 200px;
}

.centered-modal {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    overflow-y: scroll;
}

.loading-spinner {
    width: 64px;
    height: 64px;
    text-align: center;
    overflow: visible;
}

.build-info-cell {
    width: 100px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eye-icon {
    margin: 4px 15px;
    font-size: 25px;
    display: block;
    cursor: pointer;
}

.table .score-matrix-cell {
    padding: 0px;
}

.no-results-table th {
    text-align: right;
}
.model-url{
    word-wrap: break-word;
}

/**
 * Tooltip Styles   The tooltip will OVERFLOW, so make sure to allow overflow in the parent!!!
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  overflow: visible;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}


::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 0.4em;
  border-radius: 13px;
  background-clip: padding-box;
}

.scrolling {
    width: 100%;
    height: 240px;
    display: flex; 
    flex-direction: row;
    .scrolling2 {
        flex: 1;
        height: 100%;
        margin-left: 15px;
        margin-right: 15px;
        // color: transparent;
        // border: 1px solid black; //UNCOMMENT TO SEE LAYOUT
        // border-radius: 25px;
        position: relative;
        .scrolling3 {
            width: 98%;
            height: 200px;
            overflow-y: auto;
            // border: 1px solid black;
            border-radius: 25px;
            color: rgba(0, 0, 0, 0.0);
            
        };
    };
};
.scrolling2:hover .scrolling3 {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: color 1s ease-out;
};
.scrolling2:hover {
    ::-webkit-scrollbar-thumb { 
        visibility: visible;
    };
}

.scrolling3::-webkit-scrollbar,
.scrolling3::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

.scrolling3::-webkit-scrollbar-thumb { 
    visibility: hidden;
    background-color: rgba(0,0,0,0.01);
    box-shadow: inset 0 0 0 10px;
}