@import "colors";
html {
    font-size: 16px;
}
body {
    background: #ada996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 16px;
}

.mainContainer {
    margin: 0 auto;
    height: 100%;
    min-height: 100%; // font-size: 16px;
}

.midContainer {
    width: 100%;
    padding: 2%;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 60px;
    z-index: 100 !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

#header {
    color: @secondary_color;
    a {
        color: @secondary_color  !important;
    }
    a:hover {
        color: @primary_color  !important;
    }
}

#headerSocialLinks {
    z-index: 110;
    text-align: right;
    >a,
    >span {
        margin: 0 5px;
    }
}

#headerLinks {
    font-size: 0.9em;
    font-weight: 400;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 20px;
    height: 30px;
    text-align: center;
    letter-spacing: 1px;
    .activeImageHeader {
        position: relative;
    }
    a {
        margin: 0px 10px;
    }
}

#scidash-logo {
    background-image: url('../assets/scidash_mini_logo.png');
    background-size: 100% 100%;
    height: 56px;
    width: 56px;
    position: fixed;
    top: 15px;
    left: 60px;
}

#footer-scidash {
    color: @secondary_color;
    font-weight: 500;
    clear: both;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 10;
    height: 60px;
    margin-top: -60px;
    font-size: 0.75em;
    #footerLinks {
        border-bottom: 1px solid;
        border-top: 1px solid;
        padding: 4px;
        text-align: center;
        a {
            color: @secondary_color;
            margin: 0px 10px;
        }
        a:hover {
            color: @primary_color;
        }
    }
    #footerDate {
        margin-top: 8px;
        text-align: center;
    }
}

#hamMenu {
    overflow: hidden !important;
    margin-top: 20px !important;
    margin-left: 10px !important;
    border-radius: 25px !important;
    z-index: 1;
    >svg {
        color: #757575 !important;
        margin-top: -4px !important;
        margin-left: -4px !important;
    }
    ;
    &:hover {
        background-color: #BDBDBD !important;
    }
}

.MuiDrawer-root{
    line-height: 48px;
}

.MuiMenuItem-root {
    font-size: 1.2rem !important;
    line-height: 36px !important;
}

.MuiFormControl-marginNormal {
    margin: 0 !important;
}

.MuiButton-root {
    text-transform: initial !important;
    margin: 0 16px !important;
    padding: 3px 16px !important;
}

.MuiChip-colorPrimary{
    background-color: rgb(121, 85, 72) !important;
}

.MuiChip-colorSecondary{
    background-color: rgb(239, 83, 80) !important;
}

.chips {
    display: flex;
}

input:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

input {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}


input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
    line-height: 1.5rem !important;
    font-size: 1rem !important;
}

.edit-clone-test {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    >button {
        height: 24px !important;
        padding: 0 !important
    }
}

.scidash-table {
    color: @secondary_color;
    .scidash-table-heading-cell {
        vertical-align: top;
        text-align: left;
    }
    .filter-label {
        padding: 0px 10px;
        font-weight: normal;
        float: left;
    }
    tbody {
        font-size: 13px;
    }
    .griddle-cell {
        border-top: 1px solid #aaa;
        vertical-align: middle;
    }
}

.scidash-tilted-titles-table {
    color: @secondary_color;
    .scidash-tilted-titles-table-heading-cell {
        height: 30px;
        max-height: 30px;
        max-width: 50px;
        vertical-align: bottom;
        white-space: nowrap;
    }
    .filter-label {
        padding: 0px 10px;
        font-weight: normal;
        float: left;
    }
    tbody {
        font-size: 13px;
    }
    th {
        vertical-align: top;
    }
    .griddle-cell {
        border-top: 1px solid #aaa;
    }
}

.scidash-tilted-titles-table-heading-cell-div {
    vertical-align: top;
    text-align: left;
    max-width: 220px;
    height: 20px;
    max-height: 150px;
    width: 225px;
    transform: translate(-25px, -70px) rotate(315deg);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.last-heading {
    transform: translate(-20px, -55px) rotate(315deg);
    width: 175px;
    max-width: 200px;
}

.hideAll-column {
    /* Adjustments to column with hide all buttons*/
    th:last-child {
        padding-left: 0px;
    }
}

#showAllButton {
    height: 27px !important;
}

.modelName-row-heading {
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

.scidash-materialui-field {
    float: right;
    input {
        box-shadow: none;
    }
}

.datepicker-wrapper {
    display: flex;
    justify-content: center;
}

.griddle-cell {
    position: relative;
}

.griddle-pagination {
    text-align: center;
}

#colorMapGradientLabel {
    width: 100%;
    height: 10px;
}

.colorBlindGradient {
    background: linear-gradient(to right, yellow, blue);
}

.defaultGradient {
    background: linear-gradient(to right, red, green);
}

#controlsContainer {
    width: 100%;
    text-align: left;
}

/* Input fields adjustments */

.scidash-materialui-field {
    font-size: initial !important;
    font-weight: normal !important;
    padding-left: 3px !important;
}

// /* Autosuggest adjustments */     IT REPLACES THE COMMENTED LINES BELOW
.autosuggest span {
    font-size: 13px !important;
    min-height: 30px !important;
    line-height: 30px !important;
    div div {
        padding: 0px 5px 0px 5px !important;
    }
}

// /* Autosuggest adjustments */
// span[role=mdata:enuitem]{
//     font-size: 13px !important;
//     min-height: 30px !important;
//     line-height: 30px !important;
//     div div {
//         padding: 0px 5px 0px 5px !important;
//     }
// }
div[role=menu] {
    padding: 0px !important;
}

.suites-table {
    width: 90%;
    margin: 10px auto;
}

.modal-table {
    width: auto;
    margin: 0 auto;
}

.modal-table th {
    height: 140px;
    white-space: nowrap;
    padding: 5px 10px;
}

.modal-table thead>tr {
    height: 165px;
}

.modal-table th>div>span {
    padding: 5px 10px;
}

.rotatedTitle {
    width: 200px;
    height: 200px;
}

.centered-modal {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    overflow-y: scroll;
}

.loading-spinner {
    width: 56px;
    height: 56px;
    text-align: center;
    overflow: visible;
}

.build-info-cell {
    width: 100px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eye-icon {
    margin: 4px 15px;
    font-size: 25px;
    display: block;
    cursor: pointer;
}

.btn-clear {
  font-size: 0.75rem !important;
  padding: 0 16px !important;
}

.plus-icon {
    float: right;
    border-radius: 40px;
    width: 48px;
    background-color: rgb(109, 76, 65);
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.plus-icon:hover {
  background-color: rgb(121, 85, 72)
}

.table .score-matrix-cell {
    padding: 0px;
}

.no-results-table th {
    text-align: right;
}

.model-url {
    word-wrap: break-word;
}

/**
 * Tooltip Styles   The tooltip will OVERFLOW, so make sure to allow overflow in the parent!!!
 */

/* Add this attribute to the element that needs a tooltip */

[data-tooltip] {
    overflow: visible;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */

[data-tooltip]:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */

[data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

/* Data tooltip on right side */

[data-tooltip-right] {
    overflow: visible;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */

[data-tooltip-right]:before,
[data-tooltip-right]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */

[data-tooltip-right]:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 0px;
    margin-left: 5px;
    padding: 3px;
    width: 160px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip-right);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */

[data-tooltip-right]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: 5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */

[data-tooltip-right]:hover:before,
[data-tooltip-right]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    width: 0.4em;
    border-radius: 13px;
    background-clip: padding-box;
}

.scrolling {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    .scrolling2 {
        flex: 1;
        height: 100%;
        margin-left: 15px;
        margin-right: 15px; // color: transparent;
        // border: 1px solid black; //UNCOMMENT TO SEE LAYOUT
        // border-radius: 25px;
        position: relative;
        .scrolling3 {
            margin-top: 8px;
            width: 98%;
            height: 200px;
            overflow-y: auto; // border: 1px solid black;
            border-radius: 25px;
            color: rgba(0, 0, 0, 0.0);
        }
        ;
    }
    ;
}

;
.scrolling2:hover .scrolling3 {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: color 1s ease-out;
}

;
.scrolling2:hover {
    ::-webkit-scrollbar-thumb {
        visibility: visible;
    }
    ;
}

.scrolling3::-webkit-scrollbar,
.scrolling3::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

.scrolling3::-webkit-scrollbar-thumb {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: inset 0 0 0 10px;
}

.auth-links {
    padding: 10px;
    position: absolute;
    right: 20px;
}

.model-form {
    .first-line {
        .container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .model-name {
                flex: 3;
                color: black !important;
            }
            .url {
                margin-left: 15px;
                flex: 9;
                color: black !important;
            }
            .icons {
                flex: 1;
                margin-left: 15px;
                position: relative;
            }
        }
    }
    .second-line {
        .container {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }
        .new-tag {
            width: 20%;
            margin-left: 20px;
        }
        .tags {
            float: right;
            width: 79%;
        }
    }
    .fourth-line {
        margin-top: 50px;
    }
    .fifth-line {
        .container {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
        }
        .item {
            margin-right: 15px;
            width: 200px;
        }
        .icons {
            flex: 1;
            margin-left: 15px;
            position: relative;
        }
    }
    .actions-button {
        width: 100px;
    }
    .actions-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
}

.user-info-card {
    max-width: 480px;
}

.user-button {
	span{
	    font-size : 15px !important;
	    color : white !important;
	    font-weight : bolder !important;
	}

	width : 96px;
}

.login-button {
	a{
		background-color : #37474f !important;
	}
}

.logged-icon{
    left: 10px;
    font-size: 2em;
}

.signup-button {
	a{
		background-color : #37474f !important;
	}
}

.logout-button {
	a{
		background-color : lightgrey !important;
	}
}

.drawer-icon{
    font-size: 30px;
    margin-right: 30px;
}

.scidash-table-filter{
    border:1px solid #cccccc !important;
    padding: 10px !important;
    width: 100%;
}

.new-line{
    color: #aaa;
    font-size: 20px;
}

#testFormSelectClass,
#modelFormSelectClass {
    margin-top: 12px !important;
    color: black !important;
}

.timeStampCss {
    text-align: center;
    border-top: 1px solid #aaa !important;
    vertical-align: middle !important;
}

.toggleClass {
    float: right;
}

.toggleHeaderClass {
    padding-right: 20px;
    cursor: pointer;
    text-align: right;
}

#show-all-button {
    margin-left: 0 !important;
}

.dialogTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.dialogText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.cardTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.errorAlertDiv {
    word-break: break-word;
}